/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
	height: 100%;
	background: #fff;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

body {
	width: 100%;
	/* height: 8rem; */
	height: 100%;
	/* background: rgb(237,238,242); */
	margin:0 auto;

}
header{
	clear:both;
	margin:30px auto;
	height: 20px;
}
header ul{
	float:right;
	
}
header ul li{
	float: left;
	font-size: 0.14rem;	
	padding: 0 10px;
}
nav{
	clear:both;
	/*width:100%;*/
	height: 30px;
	font-size: 0;
	/*margin-top:20px*/
}
nav .cruise{
	width:71%;
	line-height: 40px;
	float:left;
	font-size:0.2rem;
	color:#000;
	font-weight: bold;
	/*border-bottom:2px solid;*/
	text-indent: 0.1rem;
}
nav ul{
	/*width:40%;*/
	float: right;
	border-bottom:1px solid
	
}
nav ul li{
	float: left;
	font-size: 0.16rem;
	border:2px solid;
	padding: 0 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	line-height: 0.38rem;
	margin:0 2px;
	border-bottom:0
	

}
nav ul li a{
	color:#000;
	display: inline-block;

	
	
}
nav ul li.active{
	background: #606060;
	transition: all  .25s  ease-in;
	height:0.4rem;
	 line-height: 0.4rem;
	border-bottom: 2px solid #606060;
	
}
nav ul li.active a{
	color:#fff;
	
}
nav ul li:hover{
	background: #606060;
	transition: all  .25s  ease-in;
	height:0.4rem;
	 line-height: 0.4rem;
	border-bottom: 2px solid #606060;
}
nav ul li:hover a{
	color:#fff;
}
.content{
	width:100%;
	clear:both
}
header ul a{
	text-decoration:underline;
}
.rightnav li:nth-child(1){
	margin-left: 0;
}
